<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Categories</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Category</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to 'Total Products', [:admin, :products] %></td>
          <td><%= @products.count %></td>
        </tr>
        <tr>
        <th><%= link_to 'Categories', 'admin/categories#new' %></th>
          <td><%= @categories.count %></td>
        </tr>
        <% @categories.each do |category| %>
          <%= render 'categories', category: category, product: @product %>
        <% end %>
      </tbody>
    </table>

  </div>

</section>